body {
  background-color: green;
}
 
h2 {
  color: #fff;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #ccc;
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  background-color: #04AA6D;
  text-align: center;
  display: inline-block;
}

label {
  font-family: Calibri, sans-serif;
  margin: 0;
}

p {
  font-family: Calibri, sans-serif;
}
