.content-block {
  background-color: #6e6e91;
  border: 1px solid #205963;
  border-radius: 8px;
  padding: 10px;
  margin-block-start: 10px;
  margin: 25px 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
}

.content-block:hover {
  background-color: #2727d6;
  opacity: 1;
  cursor: pointer;
}

h4 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h5 {
  color: white;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px;
}

p {
  color: white;
  text-align: left;
  font-weight: light;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 5px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("https://uploads.onecompiler.io/43m3nvgh8/43m3qv6kd/pexels-tranmautritam-922978.jpg");
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
}

ul {
  list-style-type: circle;
  color: white;
  margin-bottom: 5px;
}

li {
  color: white;
  font-size: 90%;
}

.italic-text {
  font-style: italic;
  font-size: 75%;
  color:white;
  margin-top: 0px;
  margin-bottom: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  color: white;
}

td {
  padding: 0.4em;
  vertical-align: top;
}

tr :nth-child(n){
  text-align: center;
  width: 20%;
}


footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #161424;
  color: white;
  opacity: 0.9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
